<%= render 'shared/tagsbar' %>
<div class="d-flex flex-column align-items-center justify-content-center my-container">
  <h1 class="text-white">Trouve un mot !</h1>
  <div class="d-flex flex-wrap justify-content-between text-center">
    <% @ten_letters_list.split('').each do |letter| %>
      <div class="letters-tiles">
        <%= letter.upcase %>
      </div>
    <% end %>
  </div>
</div>
<div class="mt-5">
  <%= simple_form_for [:game, @party] do |f| %>
    <%= f.input :ten_letters_list, as: :hidden, input_html: { value: @ten_letters_list } %>
    <%= f.input :word, label: 'Ta proposition' %>
    <%= f.button :submit, class: 'btn btn-danger d-block w-75 mx-auto', value: 'Go !' %>
  <% end %>
</div>

