<%= render 'shared/tagsbar' %>
<div class="d-flex flex-column align-items-center justify-content-center my-container">
  <h1>
    Votre réponse :
  </h1>
  <h2>
    <%= @party.word.upcase %> pour <%= @party.party_score %> points
  </h2>
  <div class="d-flex flex-wrap justify-content-between text-center">
    <% @party.ten_letters_list.split('').each do |letter| %>
      <div class="letters-tiles">
        <%= letter.upcase %>
      </div>
    <% end %>
  </div>
</div>
<div class="mt-5">
  <ul class="solutions-list d-flex flex-column flex-wrap justify-content-center">
    <% @party.solutions.each do |solution| %>
      <li>
        <%= solution.word %> : <%= solution.word.length %> points
      </li>
    <% end %>
  </ul>
  <%= link_to 'Retour au jeu', game_path(@party.game), class: "btn btn-danger d-block mx-auto w-75" %>
</div>
