<!-- Ici on affiche les datas de suivi du jeu, high score, nb games... -->
<div class="best-score-element d-flex justify-content-end mr-3">
  <%= image_tag 'trophy.png' %>
  <span class="best-score-tag-circle">
    <%= @best_score %>
  </span>
</div>
<!-- top container -->
<div class="d-flex flex-column align-items-center justify-content-center my-container">
  <h1 class="text-center text-white text-uppercase">The Longest Word</h1>
  <div>
    <%= simple_form_for [@game] do |f| %>
      <%= f.button :submit, class: 'btn btn-danger d-block mx-auto', value: 'Créer une nouvelle partie' %>
    <% end %>
  </div>
</div>
<!-- bottom container -->
<div class="d-flex flex-column align-items-center justify-content-around mt-4">
  <h2>Vos parties</h2>
  <div class="game-list w-100">
    <div class="">
      <% @games.reverse.each_with_index do |game, index| %>
        <div class="w-75 mx-auto btn btn-danger d-block mt-2">
          <%= link_to game_path(game.id), class: 'text-decoration-none d-flex justify-content-around align-items-center mt-2' do %>
            <div class="text-dark">
              Partie <%= index + 1 %>
            </div>
            <div class="badge badge-light badge-pill text-dark">
              <%= game.parties_count %> / 5
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
