<h1>Game session</h1>

<!-- Ici on affiche la liste des parties terminées -->
<h2>Score global</h2>
    <%= @total_score %>
<h2>Parties terminées</h2>

<% @parties.each_with_index do |party, index| %>
  <% unless party.party_score.nil? %>
    <li>
      Partie <%= party.id %> <%= index + 1 %> #### Score : <%= party.party_score %>
    </li>
    <li>
      <%= link_to 'voir mon résultat', game_party_path(@game, party) %>
    </li>
  <% end %>
<% end %>

<!-- Ici on affiche le bouton si il reste des parties à jouer -->
<% if @game.parties_count < 5 %>
  <%= link_to 'jouer la prochaine manche', new_game_party_path(@game) %>
<% else %>
  Vous avez terminé cette partie
<% end %>


