<h1>Game session</h1>

<!-- Ici on affiche la liste des parties terminées -->
<h2>Score global</h2>
    <%= @total_score %>
<h2>Parties terminées</h2>

<% @parties.each_with_index do |party, index| %>
  <% unless party.party_score.nil? %>
    <li>
      Partie <%= party.id %> <%= index + 1 %> #### Score : <%= party.party_score %>
    </li>
  <% end %>
<% end %>

<!-- Ici on affiche la liste des parties à jouer -->
<h2>Parties à jouer</h2>

<% @parties.each_with_index do |party, index| %>
  <% if party.party_score.nil? %>
    <li>
      Partie n°<%= index + 1 %> #### Score : 0
    </li>
    <li>
      <%= link_to 'jouer la partie', edit_game_party_path(@game.id, party.id) %>
    </li>
  <% end %>
<% end %>
