<%= render 'shared/tagsbar' %>
<div class="d-flex flex-column align-items-center justify-content-center my-container">
  <h1 class="text-center text-white">Voici les meilleures combinaisons</h1>
  <div class="d-flex flex-wrap justify-content-between text-center">
    <% @party.ten_letters_list.split('').each do |letter| %>
      <div class="letters-tiles">
        <%= letter.upcase %>
      </div>
    <% end %>
  </div>
</div>
<div class="mt-5">
  <ul class="solutions-list d-flex flex-column flex-wrap justify-content-center">
    <% @party.solutions.each do |solution| %>
      <li>
        <%= solution.word %> : <%= solution.word.length %> points
      </li>
    <% end %>
  </ul>
  <%= link_to 'cliquez ici', game_party_path(@party.game_id, @party), class: "btn btn-danger d-block mx-auto w-75 mt-5" %>
</div>
